@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.notAuthBody {
  width: 100vw;
  height: 100vh;
  background-color: #051367;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.notAuthContainer {
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  min-height: 30vh;
  background-color: #2d31fa;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.1);
}

.notAuthParagraph {
  width: 80%;
  font-size: 36px;
  text-align: center;
  color: #051367;
  padding: 24px;
  transition: all 0.3s ease-in-out;
}

.notAuthSpan {
  animation: infinite pulse 5s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@keyframes pulse {
  0% {
    color: #051367;
  }
  50% {
    color: #dff6ff;
  }
  100% {
    color: #051367;
  }
}

.notAuthButtonsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 24px;
  transition: all 0.3s ease-in-out;
}

.notAuthButton {
  padding: 12px 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  border-radius: 15px;
  color: #051367;
  transition: all 0.3s ease-in-out;
}

.notAuthButton:hover {
  background-color: rgb(0, 0, 190);
  color: #dff6ff;
  transition: all 0.3s ease-in-out;
}

.authBody {
  min-height: 100vh;
  min-width: 100vw;
  display: block;
  position: relative;
}

.authContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  background-color: #051367;
  min-height: 100vh;
}

.authTitle {
  color: #dff6ff;
  padding-top: 24px;
  padding-left: 24px;
  font-size: 36px;
  font-weight: 500;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.currentUser {
  text-transform: capitalize;
  font-weight: 500;
  background-color: #2d31fa;
  padding: 0px 12px 6px 12px;
  border-radius: 15px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
