.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #2d31fa;
  max-width: 95%;
  padding: 36px;
  margin: 12px 0px 24px 24px;
  border-radius: 15px;
}

.loader {
  margin-left: 24px;
  margin-top: 12px;
}

.issuesParagraph {
  color: #dff6ff;
}
