@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.settings {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 12px;
  font-size: 24px;
  background-color: #051367;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.container {
  position: relative;
  color: #dff6ff;
  background-color: #2d31fa;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  height: 350px;
  margin: 24px 12px;
  width: 300px;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.container:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.contentContainer {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.title {
  position: relative;
  padding: 20px 25px 5px;
  font-size: 2em;
  font-weight: 500;
}

.description {
  padding: 5px 25px 20px;
}
