@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.registerBody {
  width: 100vw;
  height: 100vh;
  background-color: #051367;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  min-height: 30vh;
  background-color: #2d31fa;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.1);
}

.registerParagraph {
  font-size: 36px;
  text-align: center;
  color: #051367;
  padding: 24px;
  transition: all 0.3s ease-in-out;
}
