.createProjectContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  background-color: #051367;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  color: #dff6ff;
  transition: all 0.3s ease-in-out;
}

.createProjectMiddleContainer {
  display: flex;
  flex-direction: column;
  background-color: #2d31fa;
  padding: 48px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.1);
}

.createProjectTitle {
  font-size: 36px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #051367;
  padding: 24px;
  transition: all 0.3s ease-in-out;
}
