.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.input {
  font-size: 16px;
  border: none;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 15px;
  background-color: #051367;
  color: #dff6ff;
  transition: all 0.3s ease-in-out;
  width: 80%;
}

.textarea {
  font-size: 16px;
  border: none;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 15px;
  background-color: #051367;
  color: #dff6ff;
  transition: all 0.3s ease-in-out;
  width: 80%;
  height: 200px;
  resize: none;
  outline: none;
}

::placeholder {
  color: #dff6ff;
  opacity: 0.5;
}

.input:focus {
  outline: none;
  transition: all 0.3s ease-in-out;
  border: none;
}

.button {
  padding: 12px 25px;
  max-width: 30%;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  border: none;
  background: transparent;
  color: #051367;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid #051367;
}

.button:hover {
  background-color: rgb(0, 0, 190);
  color: #dff6ff;
  transition: all 0.3s ease-in-out;
  border: 2px solid #2d31fa;
}

.loader {
  margin: 0 auto;
  margin-bottom: 15px;
}
