@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.settings {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 8px;
  background-color: #051367;
  border-radius: 50%;
}
